In [27]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None

In [28]:
# read file from excel
uri = r'D:\Work\Home-2023\may-project\project-mei\(40t)การประปาส่วนภูมิภาคแม่เมาะ.xlsx'
column_type = {'ปี/เดือน/วัน': str, 'ชั่วโมง': str}

# Create an empty list to store DataFrames
dfs = []

# Load all sheets from the Excel file
xls = pd.ExcelFile(uri)

# Iterate through each sheet in the Excel file
for sheet_name in xls.sheet_names:
    # Read data from the current sheet
    df = pd.read_excel(xls, sheet_name=sheet_name, engine='openpyxl', dtype=column_type)

    # Append the DataFrame to the list
    dfs.append(df)
concatenated_df = pd.concat(dfs, ignore_index=True)
concatenated_df = concatenated_df.loc[:, ~concatenated_df.columns.str.startswith('Unnamed')]
df = concatenated_df
# df = pd.read_excel(uri, engine='openpyxl',  header=0, usecols='A:R', sheet_name=1, dtype=column_type)

In [29]:
concatenated_df

,ปี/เดือน/วัน,ชั่วโมง,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,NaN,NaN,at 3 m (ppm),at 3 m (ppb),at 3 m (ppb),(ppb),at 3 m (ppb),at 3 m (ppb),at 3 m (ppb),(w/m2),at 3 m (w/m2),at 3 m (มคก./ลบ.ม.),at 2 m (mbar),at 3 m (mm),at 2 m (%RH),at 2 m,at 10 m (Deg.M),at 10 m (m/s),NaN
1,90101,100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
2,90101,200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
3,90101,300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
4,90101,400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96406,191231,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29
96407,191231,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24
96408,191231,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26
96409,191231,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26
96410,191231,2400,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25

In [30]:
df = df.iloc[1:, :]
df.replace('-', np.nan, inplace=True)

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\2902669478.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.replace('-', np.nan, inplace=True)

In [31]:
df.reset_index(drop=True, inplace=True)
df

,ปี/เดือน/วัน,ชั่วโมง,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,90101,100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
1,90101,200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
2,90101,300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
3,90101,400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
4,90101,500,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96405,191231,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29
96406,191231,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24
96407,191231,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26
96408,191231,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26
96409,191231,2400,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25

In [32]:
df.rename(columns={'ปี/เดือน/วัน': 'date', 'ชั่วโมง': 'hour'}, inplace=True)

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\1161785542.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'ปี/เดือน/วัน': 'date', 'ชั่วโมง': 'hour'}, inplace=True)

In [33]:
# convert date to date
df['date'] = pd.to_datetime(df['date'], format='%y%m%d', errors='coerce')

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\2902345939.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['date'] = pd.to_datetime(df['date'], format='%y%m%d', errors='coerce')

In [34]:
# zfill hour
df['hour'] = df['hour'].str.zfill(4)

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\3531803555.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = df['hour'].str.zfill(4)

In [35]:
# convert hour to time
df.loc[df['hour'] == '2400', 'hour'] = '0000'
df['hour'] = pd.to_datetime(df['hour'], format='%H%M', errors='coerce').dt.time

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\143523463.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['hour'] = pd.to_datetime(df['hour'], format='%H%M', errors='coerce').dt.time

In [36]:
# marge date and hour as datetime

df['datetime'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['hour'].astype(str), format='%Y-%m-%d %H:%M:%S',
                                errors='coerce')
df.loc[df['hour'] == '0000', 'datetime'] += pd.DateOffset(days=1)

C:\Users\kandation\AppData\Local\Temp\ipykernel_27052\1610709252.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['datetime'] = pd.to_datetime(df['date'].astype(str) + ' ' + df['hour'].astype(str), format='%Y-%m-%d %H:%M:%S',

In [41]:
df

,datetime,date,hour,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,1990-10-01 01:00:00,1990-10-01,01:00:00,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
1,1990-10-01 02:00:00,1990-10-01,02:00:00,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
2,1990-10-01 03:00:00,1990-10-01,03:00:00,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
3,1990-10-01 04:00:00,1990-10-01,04:00:00,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
4,1990-10-01 05:00:00,1990-10-01,05:00:00,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96405,2019-12-31 20:00:00,2019-12-31,20:00:00,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29
96406,2019-12-31 21:00:00,2019-12-31,21:00:00,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24
96407,2019-12-31 22:00:00,2019-12-31,22:00:00,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26
96408,2019-12-31 23:00:00,2019-12-31,23:00:00,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26
96409,2019-12-31 00:00:00,2019-12-31,00:00:00,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25

In [37]:
last_column = df.columns[-1]
df = df[[last_column] + [col for col in df.columns if col != last_column]]

In [38]:
nan_counts = df.isna().sum()
print(nan_counts)

datetime         362
date             362
hour               2
CO             63632
 NO            12714
O3             11869
 H2S           12079
 NO2           12709
 SO2           12820
 NOX           12712
 Glob rad       6087
 Net rad       61158
PM10            8428
 Pressure      59474
 Rain           6025
 Rel hum       59117
 Temp           6070
 Wind dir       6187
 Wind speed     6092
PM2.5          45629
dtype: int64

In [39]:
df[df['hour'].isna()]

,datetime,date,hour,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
8760,NaT,NaT,NaT,at 3 m (ppm),at 3 m (ppb),at 3 m (ppb),(ppb),at 3 m (ppb),at 3 m (ppb),at 3 m (ppb),at 3 m (w/m2),at 3 m (w/m2),at 3 m (มคก./ลบ.ม.),at 2 m (mbar),at 3 m (mm),at 2 m (%RH),at 2 m,at 10 m (Deg.M),at 10 m (m/s),at 3 m (มคก./ลบ.ม.)
70129,NaT,NaT,NaT,NaN,at 3 m (ppb),at 3 m (ppb),(ppb),at 3 m (ppb),at 3 m (ppb),at 3 m (ppb),at 3 m (w/m2),NaN,at 3 m (มคก./ลบ.ม.),NaN,at 3 m (mm),NaN,at 2 m,at 10 m (Deg.M),at 10 m (m/s),at 3 m (มคก./ลบ.ม.)

In [40]:
# write csv file
import os

# Split the URI to get the file's base name and directory
directory, filename_with_extension = os.path.split(uri)

# Replace the file extension with ".csv"
filename_without_extension, _ = os.path.splitext(filename_with_extension)
new_uri = os.path.join(directory, filename_without_extension + ".csv")

print(new_uri)
# df.to_csv(new_uri, index=False)

D:\Work\Home-2023\may-project\project-mei\(40t)การประปาส่วนภูมิภาคแม่เมาะ.csv