In [116]:
import pandas as pd
import numpy as np

pd.options.display.max_columns = None

In [117]:
# read file from excel
uri = r'D:\Work\Home-2023\may-project\project-mei\(40t)การประปาส่วนภูมิภาคแม่เมาะ.xlsx'
column_type = {'ปี/เดือน/วัน': str, 'ชั่วโมง': str}

# Create an empty list to store DataFrames
dfs = []

# Load all sheets from the Excel file
xls = pd.ExcelFile(uri)

# Iterate through each sheet in the Excel file
for sheet_name in xls.sheet_names:
    # Read data from the current sheet
    df = pd.read_excel(xls, sheet_name=sheet_name, engine='openpyxl', dtype=column_type)
    df = df.iloc[1:, :]
    # Append the DataFrame to the list
    dfs.append(df)
concatenated_df = pd.concat(dfs, ignore_index=True)
concatenated_df = concatenated_df.loc[:, ~concatenated_df.columns.str.startswith('Unnamed')]
df = concatenated_df
# df = pd.read_excel(uri, engine='openpyxl',  header=0, usecols='A:R', sheet_name=1, dtype=column_type)

In [118]:
concatenated_df

,ปี/เดือน/วัน,ชั่วโมง,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,90101,100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
1,90101,200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
2,90101,300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
3,90101,400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
4,90101,500,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,191231,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29
96404,191231,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24
96405,191231,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26
96406,191231,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26
96407,191231,2400,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25

In [119]:

df.replace('-', np.nan, inplace=True)

In [120]:
df.reset_index(drop=True, inplace=True)
df

,ปี/เดือน/วัน,ชั่วโมง,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,90101,100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
1,90101,200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
2,90101,300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
3,90101,400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
4,90101,500,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,191231,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29.0
96404,191231,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24.0
96405,191231,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26.0
96406,191231,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26.0
96407,191231,2400,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25.0

In [121]:
df.rename(columns={'ปี/เดือน/วัน': 'date', 'ชั่วโมง': 'hour'}, inplace=True)

In [122]:
# convert date to date
df['date'] = pd.to_datetime(df['date'], format='%y%m%d', errors='coerce')

In [123]:
# zfill hour
df['hour'] = df['hour'].str.zfill(4)

In [124]:
# convert hour to time
df.loc[df['hour'] == '2400', 'hour'] = '0000'

In [125]:
df

,date,hour,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5
0,1990-10-01,0100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN
1,1990-10-01,0200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN
2,1990-10-01,0300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN
3,1990-10-01,0400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN
4,1990-10-01,0500,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,2019-12-31,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29.0
96404,2019-12-31,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24.0
96405,2019-12-31,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26.0
96406,2019-12-31,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26.0
96407,2019-12-31,0000,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25.0

In [126]:
# marge date and hour as datetime
from  datetime import datetime
df['datetime'] = pd.to_datetime(df['date'].astype(str), format='%Y-%m-%d', errors='coerce')
df.loc[df['hour'] == '0000', 'datetime'] += pd.DateOffset(days=1)

df['_hour_dt'] =pd.to_datetime(df['hour'], format='%H%M', errors='coerce').dt.time
df['datetime'] += pd.to_timedelta(df['_hour_dt'].astype(str))

In [127]:
df[df['hour'] == '0000']

,date,hour,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5,datetime,_hour_dt
23,1990-10-01,0000,0.31,2,13,0,2,1,3,0,-41,3,978,0,71,20.7,164,0.01,NaN,1990-10-02,00:00:00
47,1990-10-02,0000,0.29,0,11,0,0,1,1,0,-45,19,980,0,80,17.7,136,0.04,NaN,1990-10-03,00:00:00
71,1990-10-03,0000,0.41,1,12,0,1,1,1,0,-40,6,978,0,87,15.2,115,0.01,NaN,1990-10-04,00:00:00
95,1990-10-04,0000,0.46,,9,1,,1,,0,-46,32,976,0,87,14.9,145,0,NaN,1990-10-05,00:00:00
119,1990-10-05,0000,0.39,1,11,,1,1,1,0,-51,11,976,0,85,15.6,293,0.01,NaN,1990-10-06,00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96311,2019-12-27,0000,NaN,0,32,1,9,1,9,0,NaN,83,NaN,0,NaN,20.8,27,0.15,64.0,2019-12-28,00:00:00
96335,2019-12-28,0000,NaN,0,45,0,4,2,5,0,NaN,65,NaN,0,NaN,21.2,221,0.29,46.0,2019-12-29,00:00:00
96359,2019-12-29,0000,NaN,0,32,2,5,1,5,0,NaN,42,NaN,0,NaN,19.7,225,0.7,33.0,2019-12-30,00:00:00
96383,2019-12-30,0000,NaN,0,29,1,4,3,4,0,NaN,29,NaN,0,NaN,20.7,3,0.78,24.0,2019-12-31,00:00:00
96407,2019-12-31,0000,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25.0,2020-01-01,00:00:00

In [128]:
last_column = df.columns[-1]
df = df[[last_column] + [col for col in df.columns if col != last_column]]
df

,_hour_dt,date,hour,CO,NO,O3,H2S,NO2,SO2,NOX,Glob rad,Net rad,PM10,Pressure,Rain,Rel hum,Temp,Wind dir,Wind speed,PM2.5,datetime
0,01:00:00,1990-10-01,0100,0.34,2,3,0,1,0,3,0,-37,35,977,0,90,16.3,150,0.01,NaN,1990-10-01 01:00:00
1,02:00:00,1990-10-01,0200,0.29,3,1,0,1,1,4,0,-36,30,977,0,89,16.2,168,0.03,NaN,1990-10-01 02:00:00
2,03:00:00,1990-10-01,0300,0.26,2,1,0,1,1,3,0,-40,22,976,0,90,15.7,177,0.03,NaN,1990-10-01 03:00:00
3,04:00:00,1990-10-01,0400,0.39,2,1,0,1,1,3,0,-44,35,976,0,90,15,143,0.03,NaN,1990-10-01 04:00:00
4,05:00:00,1990-10-01,0500,0.32,2,2,0,1,1,2,0,-47,15,976,0,90,14.7,192,0.01,NaN,1990-10-01 05:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
96403,20:00:00,2019-12-31,2000,NaN,1,33,2,5,2,6,0,NaN,46,NaN,0,NaN,24.6,8,1.07,29.0,2019-12-31 20:00:00
96404,21:00:00,2019-12-31,2100,NaN,0,32,1,5,1,5,0,NaN,38,NaN,0,NaN,23.8,357,1.11,24.0,2019-12-31 21:00:00
96405,22:00:00,2019-12-31,2200,NaN,0,33,1,4,2,4,0,NaN,40,NaN,0,NaN,23.4,349,0.93,26.0,2019-12-31 22:00:00
96406,23:00:00,2019-12-31,2300,NaN,0,33,1,3,2,3,0,NaN,34,NaN,0,NaN,23,349,1.27,26.0,2019-12-31 23:00:00
96407,00:00:00,2019-12-31,0000,NaN,0,32,0,4,2,4,0,NaN,35,NaN,0,NaN,22.5,2,1.12,25.0,2020-01-01 00:00:00

In [129]:
nan_counts = df.isna().sum()
print(nan_counts)

_hour_dt           0
date             360
hour               0
CO             63631
 NO            12714
O3             11869
 H2S           12079
 NO2           12709
 SO2           12820
 NOX           12712
 Glob rad       6087
 Net rad       61157
PM10            8428
 Pressure      59473
 Rain           6025
 Rel hum       59116
 Temp           6070
 Wind dir       6187
 Wind speed     6092
PM2.5          45629
datetime         360
dtype: int64

In [130]:
df[df['hour'].isna()]

Empty DataFrame
Columns: [_hour_dt, date, hour, CO,  NO , O3,  H2S,  NO2,  SO2 ,  NOX ,  Glob rad,  Net rad, PM10,  Pressure,  Rain,  Rel hum,  Temp,  Wind dir,  Wind speed, PM2.5, datetime]
Index: []

In [131]:
# write csv file
import os

# Split the URI to get the file's base name and directory
directory, filename_with_extension = os.path.split(uri)

# Replace the file extension with ".csv"
filename_without_extension, _ = os.path.splitext(filename_with_extension)
new_uri = os.path.join(directory, filename_without_extension + ".csv")

print(new_uri)
# df.to_csv(new_uri, index=False)

D:\Work\Home-2023\may-project\project-mei\(40t)การประปาส่วนภูมิภาคแม่เมาะ.csv